## eksik degerlerin incelenmesi

In [1]:
import pandas as pd
import seaborn as sns

planets = sns.load_dataset("planets")
df = planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [2]:
df.isnull().values.any()

# veri setinde eksik gozlem(sutun)(deger) var mi sorgulamasi

True

In [3]:
df.isnull().sum()

# hangi degiskende kac tane eksik var

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [4]:
df["orbital_period"].fillna(0, inplace=True)
df.isnull().sum()

# df["degisken_adi"].fillna(0, inplace=True)
# eksik degerleri 0 ile degistirebiliriz ancak hassas bi konu oldugu icin daha sonra ince ayrintilariyla tekrar bakilacak

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [5]:
df["mass"].fillna(df.mass.mean(), inplace=True)
df.isnull().sum()

# df["degisken_adi"].fillna(df.degisken_adi.mean(), inplace=True)

# eksik degerleri, o degerin ortalamasi ile degistirebiliriz ancak hassas bi konu oldugu icin daha sonra
# ince ayrintilariyla tekrar bakilacak

method              0
number              0
orbital_period      0
mass                0
distance          227
year                0
dtype: int64

In [6]:
df = df.drop("method", axis=1)
df.head()

# sonraki adimda method sutunu sorun cikarttigi icin burada method sutununu siliyorum.

   number  orbital_period   mass  distance  year
0       1         269.300   7.10     77.40  2006
1       1         874.774   2.21     56.95  2008
2       1         763.000   2.60     19.84  2011
3       1         326.030  19.40    110.62  2007
4       1         516.220  10.50    119.47  2009

In [7]:
df.fillna(df.mean(), inplace=True)
df.isnull().sum()

# veri setinin icerisindeki tum eksik degerlerin yerin ortalama degerleri atanmis olur.

number            0
orbital_period    0
mass              0
distance          0
year              0
dtype: int64

#### ========================================================

#### en basta copy() ile aldigimiz yedekten geri donme

In [8]:
df = planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [9]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64