## gozlem ve degisken secimi: loc & iloc

In [1]:
import numpy as np
import pandas as pd

m = np.random.randint(1, 30, size=(10, 3))
df = pd.DataFrame(m, columns=["var1", "var2", "var3"])
df

   var1  var2  var3
0    16     1    14
1     6    12    16
2    15    13    17
3     9    25    19
4     5    17    12
5    13     2    18
6     1    22    22
7    23     4    19
8     2    12    24
9    16    10    29

#### ========================================================

#### loc: tanimlandigi sekli ile secim yapmak icin kullanilir

In [2]:
df.loc[0:3]

   var1  var2  var3
0    16     1    14
1     6    12    16
2    15    13    17
3     9    25    19

#### ========================================================

#### iloc: alisik oldugumuz indexleme mantigi ile secim yapar

In [3]:
df.iloc[0:3]

   var1  var2  var3
0    16     1    14
1     6    12    16
2    15    13    17

#### ========================================================

In [4]:
df.iloc[0, 0]

16

In [5]:
df

   var1  var2  var3
0    16     1    14
1     6    12    16
2    15    13    17
3     9    25    19
4     5    17    12
5    13     2    18
6     1    22    22
7    23     4    19
8     2    12    24
9    16    10    29

In [6]:
df.iloc[:3, :2]

   var1  var2
0    16     1
1     6    12
2    15    13

In [7]:
df.loc[0:3, "var3"]

# loc kullanildigi icin 3. sutun da secildi

0    14
1    16
2    17
3    19
Name: var3, dtype: int32

In [8]:
df.iloc[0:3,]["var3"]

0    14
1    16
2    17
Name: var3, dtype: int32