In [1]:
import pandas as pd

In [2]:
pd.Series([156, 52, 123, 884, 75])

# sol sütun index değerleri, sağdaki sütun ise o indexteki değer

0    156
1     52
2    123
3    884
4     75
dtype: int64

In [3]:
seri = pd.Series([156, 52, 123, 884, 75])
type(seri)

pandas.core.series.Series

In [4]:
seri.axes

# serinin index bilgilerine erişebiliriz

[RangeIndex(start=0, stop=5, step=1)]

In [5]:
seri.dtype

# içindeki verilerin tipi

dtype('int64')

In [6]:
seri.size

# içindeki eleman sayısı

5

In [7]:
seri.ndim

# kaç boyutlu olduğu

1

In [8]:
seri.values

# indexler hariç olarak sadece verilere erişmek için values kullan

array([156,  52, 123, 884,  75], dtype=int64)

In [9]:
seri.head(3)

# head() olarak kullanıldığında default olarak serinin ilk 5 elemanını getirir.

0    156
1     52
2    123
dtype: int64

In [10]:
seri.tail(3)

# tail() olarak kullanıldığında default olarak serinin son 5 elemanını getirir.

2    123
3    884
4     75
dtype: int64

#### ========================================================

#### index isimlendirmesi

In [11]:
pd.Series([99, 22, 332, 94, 5])

0     99
1     22
2    332
3     94
4      5
dtype: int64

In [12]:
pd.Series([99, 22, 332, 94, 5], index=[1, 3, 5, 7, 9])

# indexleri biz belirlemiş oluyoruz.

1     99
3     22
5    332
7     94
9      5
dtype: int64

In [13]:
pd.Series([99, 22, 332, 94, 5], index=["a", "b", "c", "d", "e"])

# indexlere isim verirken sayı dışında şeyler de kullanabiliriz

a     99
b     22
c    332
d     94
e      5
dtype: int64

In [14]:
seri = pd.Series([99, 22, 332, 94, 5], index=["a", "b", "c", "d", "e"])
seri["a"]

99

In [15]:
seri["a":"c"]

# bu şekilde slice işlemi de yapabiliriz

a     99
b     22
c    332
dtype: int64

#### ========================================================

#### sozluk uzerinden liste olusturmak

In [16]:
sozluk = pd.Series({"reg": 10, "log": 11, "cart": 12})
sozluk

reg     10
log     11
cart    12
dtype: int64

In [17]:
sozluk = {"reg": 10, "log": 11, "cart": 12}
seri = pd.Series(sozluk)
seri

# yukarıdakinin aynısını bu şekilde de oluşturabiliriz

reg     10
log     11
cart    12
dtype: int64

#### ========================================================

#### iki seriyi birlestirerek seri olusturma

In [18]:
pd.concat([seri, seri])

reg     10
log     11
cart    12
reg     10
log     11
cart    12
dtype: int64